body{
    color:bisque;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 0%;
    width: 100px;
}

form{

    justify-content: space-around;
    align-items: center;
    

}